
    <div class="main">
        <div class="contain">

            <span class="left">
           <h2>Can car insurance premiums be paid in installments?</h2>
           <h3>No, you cannot pay the car insurance premium in instalments. Section 64VB states that car insurance coverage cannot be offered i.e. the company cannot undertake the risk of offering coverage for the car unless it receives full premium payment on or before the policy start date</h3>
        
           <h2>Is car insurance policy transferrable?</h2>
           <h3> If you are selling your four wheeler, you can transfer the CAR INSURANCE POLICY too in the name of the new owner. Within a period of 15 days, the new car owner should inform the insurance company about the transfer of policy.Pre inspection of vehicle is required to be done. However, the NCB that you earn cannot be transferred in the name of the new vehicle owner.</h3>

           <h2> What is two wheeler insurance?</h2>
           <h3>Two Wheeler insurance is an insurance policy required to provide protection to your two wheeler against any damage which might result into a financial loss. In addition to it, any third party liability which has arisen due to the use of your two wheeler is covered under bike insurance. As per the Motor Vehicle Act, it is mandatory to buy a third party bike insurance policy without which one cannot use the vehicle on road.</h3>

           <h2>  What happens when i wish to renew my expired two wheeler insurance policy?</h2>
           <h3>You can easily renew your expired policy online. No inspection is required and you may simply buy the policy online. Once the payment is made, you will receive the policy copy.</h3>

           <h2> If i lodge my claim after the vehicle insurance policy expires for the event that occurred during the policy term, will the claim be valid?</h2>
           <h3>That is unlikely. It is recommended that you inform the insurer at the earliest. The period of intimation may be sometimes as short as two days. After the specified time period lapses, the insurer reserves the right to cancel any claim application.</h3>
            </span>

            <span class="right">
                <h2> How many times can we claim motor insurance in a year?</h2>
                <h3> There is no limit to the number of claims that one can register during the policy period. However, the policyholder can claim until the consolidated claim amount reaches up to the Insured Declared Value (IDV) of the car. Also, claims have an impact on your premium at the time of renewal.</h3>
             
                <h2>My motor insurance policy expired; how can I renew in case of break-in of my policy?</h2>
                <h3> The expired policy can be renewed online. All you have to do is visit the website of the insurer, make a self-survey of your car, and upload the required documents. Once the documents are approved, a payment link would be sent. After the payment is done, your policy will be renewed.</h3>
     
                <h2> Does the car model affect the cost of car insurance?</h2>
                <h3> Yes,the model of your vehicle influence the cost of your insurance premium. The premium for a luxury sports car will be more than a hatchback for instance. This is because any damage to a luxury car will need a costlier repair</h3>
     
                <h2> Benifts of renewing from same insurer? </h2>
                <h3> If you didn’t make a claim during the policy period, you get No Claim Bonus. Apart from a discount on your insurance premium, your insurer is most likely to offer additional benefits when you renew the policy. These rewards might include a sizeable decrease in deductibles or an accident forgiveness option, which means zero increase in premium even after an accident.</h3>
     
                <h2>  What happens if your IDV is too low?</h2>
                <h3>Low IDV or Insured Declared Value means you are insuring your vehicle below the market value, and so, your premium will be less. However, at the time of making a claim, the compensation amount will be less and you may have to bear some of the loss. Experts recommend that instead of higher or lower IDV, you go for the right IDV.</h3>
            </span>

        </div>
    </div>


