<span class="contain">

    <table>
        <tr>
            <td>
                <div class="cards">
                    <div class="tagline">
                        <button class="btn" (click)="mypol()" >
                            <h3>My Policies</h3></button>&nbsp;&nbsp;&nbsp;&nbsp;



                        <button class="btn" (click)="myclm()"><h3>My Claims</h3></button>
                    </div>
                    <!-- <div class="details">
                        <h2>Policy No: {{Policyno}}</h2>
                        <h2>Manufacturer: {{manufacturer}}</h2>
                        <h2>Model No: {{modelno}}</h2>
                        <h2>Date of expiry: {{dop}}</h2>
                    </div>
                    <p class="desc">
                        Claim Status : {{status
                        }}
                    </p> -->
                    <div *ngIf="visiblePolicy" class="tagline">
                        <h3> My Policies </h3>

                        <table  class="table" cellpadding="0" cellspacing="0" border="0">
                            <thead class="tbl-header">
                                <tr>
                                    <th>Policy No</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Model</th>
                                    <th>Plan</th>
                                    <th>Date of Expiry</th>
                                    <th>Status</th>
                                    <th>Premium</th>
                                </tr>
                            </thead>
                            <tbody class="tbl-content">
                                <tr *ngFor="let i of insuranceList">
                                    <td>{{i.policy_no}}</td>
                                    <td>{{i.type}}</td>
                                    <td>{{i.model}}</td>
                                    <td>{{i.plan}}</td>
                                    <td>{{i.dateOfExpiry}}</td>
                                    <td>{{i.message}}</td>
                                    <td>{{i.payment.payment_amt}}</td>
                                    <!-- <td><button class="btn btn-warning" (click)="editEmp(e)" style="margin-left: 20px;"> Edit</button></td>
                                    <td><button (click)="onDelete(e)">Delete</button></td> -->
                                </tr>
                            </tbody>
                        </table>
                </div>
                    <div *ngIf="visibleClaim" class="tagline">
                        <h3>My Claims</h3>

                    
                    <!-- //claim table -->
                    <table  class="table" cellpadding="0" cellspacing="0" border="0">
                        <thead class="tbl-header">
                            <tr>
                                <th>Policy No</th>
                                <th>Claim no</th>
                                <th>Date Of Apply</th>
                                <th>Reason</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content clm">
                            <tr *ngFor="let c of claimlist">
                               <td>{{c.insurance.policy_no}}</td> 
                                <td>{{c.claim_no}}</td>
                                <td>{{c.date_of_apply}}</td>
                                <td>{{c.accident_type}}</td>
                                <td>{{c.message}}</td>
                                <td>{{c.amount}}</td>
                                <!-- <td><button class="btn btn-warning" (click)="editEmp(e)" style="margin-left: 20px;"> Edit</button></td>
                                <td><button (click)="onDelete(e)">Delete</button></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <!-- <div class="tagline">
                    <h3 class=>My Claim History</h3>

                </div>
                 -->

            </td>
            <td>
                <div class="card">
                    <div class="circle">
                        <h2> Buy </h2>
                    </div>
                    <div class="content">
                        <p>
                            Insurance offers protection against accidents, theft, natural calamities & other unforeseen
                            circumstance that could harm your vehicle.
                        </p>
                        <a (click)="buy()">Buy Now</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="circle">
                        <h2> Renew </h2>
                    </div>
                    <div class="content">
                        <p>
                            You can renew your policy online, starting 30 days before the expiry of your existing
                            policy. </p>
                        <a (click)="renew()">Renew Now</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card">
                    <div class="circle">
                        <h2> Claim </h2>
                    </div>
                    <div class="content"> 
                        <p>
                            At time of an unforeseen event when you need support without being
                            burdened by unnecessary delays.
                        </p>
                        <a (click)="claim()">Claim Now</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</span>
