<form [formGroup]="loginUserForm" (ngSubmit)="dashboard()">
    <div class="main">
        <div class="contain">

            <h1 class="tagline">LOGIN</h1>
            <div class="boxinput">
                <label class="text" for="email">Enter Email</label><br>
                <input id="email" class="place" type="email" placeholder="Enter Email" name="username"
                formControlName="email"> &nbsp;
                <span style="color: red;" *ngIf="email && email.invalid && email.touched">*this is required</span>
            </div>
            <!-- <br><br> -->
            <div class="boxinput">
                <label class="text" for="user_password">Enter Password</label><br>
                <input id="user_password" class="place" type="password" placeholder="Enter Password"
                formControlName="user_password" > &nbsp;
                <span style="color: red;" *ngIf="user_password && user_password.invalid && user_password.touched">*this is required</span>
            </div>

            <!-- <button class="btn" (click)="dashboard()">Login</button> -->
            <button class="btn" type="submit">LOGIN</button>
            <div class="form-submit">
                <button class="btn2" id="register" (click)="finalregister()">Register</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn2" id="register1" (click)="forgotpassword()">Forgot Password</button>
            </div>


        </div>


    </div>

</form>