
    <div class="cards">
        <div>
            <h3 class="tagline"> <span class="tagline1"> <u> About us </u> </span>
            </h3>
        </div>
         <table class="contain">

            <tr class="f3">

                <td>
                    <div class="card">
                        <div class="circle">
                            <h2>
                                <img src="https://scontent.fccu1-2.fna.fbcdn.net/v/t39.30808-6/289434030_2098694206985558_8120046115728928489_n.jpg?stp=dst-jpg_s960x960&_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=DpIQ6cIkLBcAX9Td7x3&_nc_ht=scontent.fccu1-2.fna&oh=00_AT9USb8BwYIwezmubf3oF07UduwlzVDH4iQziI6_SQ9K-g&oe=63135348" 
                                alt="" style="width:250px;height:200px;">
                                 </h2>
                        </div>
                        <div class="content">
                            <p>
                                Graduate Apprentice <br> Larsen and Toubro Infotech
                            </p>
                            <a href="https://www.facebook.com/Flamboy.rupam.das/">Soumyajit Das</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <div class="circle">
                            <h2> 
                                <img class="sj" src="https://scontent.fccu1-2.fna.fbcdn.net/v/t1.6435-9/42962280_154891808782730_6053917563769847808_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_ohc=hVugs0vUab0AX8ifZVB&_nc_ht=scontent.fccu1-2.fna&oh=00_AT_rnnbsFHtHy6JG7thqHoCOsMBastPsJhh9GGKRz2L7LQ&oe=632F7D38" 
                                alt="" style="width:500px;height:300px;">    
                            </h2>
                        </div>
                        <div class="content">
                            <p>
                                Graduate Apprentice <br> Larsen and Toubro Infotech
                            </p>
                            <a href="https://www.facebook.com/subhadip.jana.106">Subhadip Jana</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <div class="circle">
                            <h2> 
                                <img class="nd" src="https://scontent.fccu1-2.fna.fbcdn.net/v/t39.30808-6/305012673_2151278921727086_2928728787189128785_n.jpg?stp=dst-jpg_p526x296&_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=BEvSKFtjH1QAX8sFmPQ&_nc_ht=scontent.fccu1-2.fna&oh=00_AT8wO1kQ_vj8X8Y_R_4uRIvkxILmAZrgZedsZ2C-4Br_hg&oe=6314CB72" 
                                alt="" style="width:250px;height:150px;">   
                            </h2>
                        </div>
                        <div class="content">
                            <p>
                                Graduate Apprentice <br> Larsen and Toubro Infotech
                            </p>
                            <a>Niranjana Devi s</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <div class="circle">
                            <h2>
                              <img class="ak" src="https://scontent.fccu1-2.fna.fbcdn.net/v/t39.30808-6/301641894_2146665775521734_5581337819374964190_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=1zDtf0mrH70AX8UY4fM&_nc_ht=scontent.fccu1-2.fna&oh=00_AT9w9v0I7eKgyb8LDXW8Iz2JlljjGxFUp_B6SofJoXKSMQ&oe=6313F99D" 
                              alt="uio" style="width:800px;height:300px;"> >  
                            </h2>
                        </div>
                        <div class="content">
                            <p>
                                Graduate Apprentice <br> Larsen and Toubro Infotech
                            </p>
                            <a>Anshu Kumar</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <div class="circle">
                            <h2> 
                                <img class="bs" src="https://scontent.fccu1-2.fna.fbcdn.net/v/t1.6435-9/62653426_2412863992290767_2682138270975918080_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=nhCTPBXIHJsAX_nYcF7&_nc_oc=AQm4hhgAOcAqyHTE8bcPuaNBe1t2i4QBk6UQ3zdHd2HLnaoRD9btldshnNFZy6f-HHM&_nc_ht=scontent.fccu1-2.fna&oh=00_AT-wEEraxnsdRXW-CqyKaIKtqeajU0a9s4shBbNnRfv4GA&oe=632F099A" 
                                alt="" style="width:500px;height:300px;">    
                            </h2>
                        </div>
                        <div class="content">
                            <p>
                                Graduate Apprentice <br> Larsen and Toubro Infotech
                            </p>
                            <a href="https://www.facebook.com/badal.singh.777363">Badal Kumar Singh</a>
                        </div>
                    </div>
                </td>
                </tr>
                </table>
         

            <span >
                <p class="desc">We started off in 2022 as a team of five members as an Insurance Company par excellence in India.
                    Wherein, the main agenda of the company was to provide with the best facilities towards providing our customers with 
                    full proof and reliable services and till date the record of the company has satisfied all business needs of all the clients under us. 
                    We will have a expandation to become a team of 1000 members with the countries most skillful and reliable software and on ground 
                    staff within our company. All our company has believed in facilitating in these past years is ensuring that any shortcoming comes your 
                    way we will always be there as helping hand. Here at vehicle 
                    Insurance your well being is our major priority!</p>
            </span>

           

        </div>
