<form [formGroup]="forgotPasswordForm" (ngSubmit)="backtologin()">
    <div class="main">
        <div class="contain">

            <h1 class="tagline">Forgot Password</h1>
            <div class="boxinput">
                <label for="email">Enter Email</label><br>
                <input id="email" class="place" #mand type="email" placeholder="Enter Email" formControlName="email">
            </div>
            <div class="boxinput">
                <label for="user_password">Enter new password</label><br>
                <input id="user_password" class="place" type="password" placeholder="Enter new password" formControlName="user_password">
            </div>
            <div class="boxinput">
                <label for="user_confirm_password">Confirm new password</label><br>
                <input id="user_confirm_password" class="place" type="password" placeholder="Enter new password again">
            </div>
            <!-- <div class="boxinput">
                <h2>Enter Registered Mobile Number</h2>
                <input class="place" type="text" placeholder="Enter Registered Mobile Number">
            </div> -->
            <button class="btn" type="button" (click)="otp()">Generate OTP</button>
            <h2 class="place2">{{otpno}}</h2>
            <div class="boxinput">
                <label for="otp">Enter OTP</label><br><br>
                <input id="otp" class="place3" type="number" placeholder="Enter OTP" required [(ngModel)] = "eneteredOTP" [ngModelOptions]="{standalone: true}">
            </div>

            <button class="btn" type="submit">Back To Login</button>
        </div>
    </div>

</form>