
<span class="contain">

    <table>
        <tr>
            <td>
                <div class="cards">
                    <div class="tagline">
                        <h3> Why vehicle Insurance </h3>
                    </div>
                    <p class="desc">
                        Imagine you have called your close relatives at home for dinner and the best of the dish you cooked was burnt to black. The entire meal was prepared but one of the best items on the list got destroyed. For sure, you will lose it, but you would never want your guests to know.​

You will be left with a few choices like manage from whatever is cooked or quickly prepare another dish. But now when the world is digital, and food is just a few minutes away, you would keep yourself fool proof with a fantastic dish. That online delivery food will save you. What occupies your mind was to manage the last-minute hassle and not miss a chance for impression.​

​

Similar can be the situation when you blow up your car (not insured) and find out that the expenses to rectify it are too high. Incapacity to bear the expenses for liability or repair due to insufficient savings encircles you with worry and stress.​

Life is a precious gift from God. We need to make it beautiful and safe for our families. One car accident can ruin not only yours but also many other lives. Buying a mandatory car insurance policy is wise and not an obligation. Still, many remain doubtful to buy it without considering its scope of operation.​
                    </p>
                </div>
                
            </td>
        <td>
            <div class="card">
                <div class="circle">
                    <h2> Buy </h2>
                </div>
                <div class="content">
                    <p>
                        Insurance offers protection against accidents, theft, natural calamities & other unforeseen circumstance that could harm your vehicle.
                    </p>
                    <a (click)="login()">Buy Now</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <div class="circle">
                    <h2> Renew </h2>
                </div>
                <div class="content">
                    <p>
                        You can renew your policy online, starting 30 days before the expiry of your existing policy. </p>
                    <a (click)="login()">Renew Now</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <div class="circle">
                    <h2> Claim </h2>
                </div>
                <div class="content">
                    <p>
                        At time of an unforeseen event when you need support without being
                        burdened by unnecessary delays.
                    </p>
                    <a (click)="login()">Claim Now</a>
                </div>
            </div>
        </td>
    </tr>
    </table>
</span>
